body {
    font-family: Verdana;
}

.block {
    display: block;
    width: 200px;
    height: 50px;
    background-color: lightcoral;
    margin-bottom: 10px;
    line-height: 50px;
}

/* Características do BLOCK
- ocupa toda a largura
- sempre quebra linha
- Aceita width e height
 */

/* Display Inline */
.inline {
    display: inline;
    background-color: lightgreen;
    padding: 10px;
    margin: 10px;
}

/* Características do INLINE
- não quebra linha
- ocupa apenas o conteúdo
- não aceita width e height
 */